<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Sigma\Blog\Observer\LogPostDetailView">
        <plugin name="sigma_blogextra_add_data_to_post_detail_observer"
                type="Sigma\BlogExtra\Plugin\AddDataToPostDetailObserver" />
        <plugin name="sigma_blogextra_prevent_post_detail_logger "
                type="Sigma\BlogExtra\Plugin\PreventPostDetailLogger" />
    </type>

    <type name="Sigma\Blog\Controller\Post\Detail">
        <plugin name="sigma_blogextra_alternate_post_detail_template"
                type="Sigma\BlogExtra\Plugin\AlternatePostDetailTemplate" />
    </type>
</config>
